Repository selleronom/hassio-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, addon-linter

hadolint:
  name: Lint Dockerfiles with Hadolint (Docker)
  entry: bash -c 'for file in "$@"; do docker run --rm -i hadolint/hadolint:latest-alpine < "$file" || exit 1; done' --
  language: system
  pass_filenames: true

addon-linter:
  name: Lint Home Assistant Add-on Config
  entry: bash -c 'if command -v jq &> /dev/null; then for config in */config.yaml; do echo "Checking $config"; done; fi'
  language: system
  pass_filenames: false

⬆️ Refactor variable handling in build script to improve output formatting
  .github/workflows/build-app.yaml
Due: none

⬇️ Remove amd64 architecture support from Immich configuration and documentation
  README.md
  immich/config.yaml
Due: addon-linter

Remove specific versioning for dependencies in Dockerfile
  isponsorblocktv/Dockerfile
Due: hadolint

Restore version auto-update workflow and switch to inline renovate annotations
  .github/scripts/update-addon-version.sh
  .github/workflows/update-version.yaml
  caddy_proxy/Dockerfile
  garage/Dockerfile
  gitea/Dockerfile
  immich/Dockerfile
  jellyfin/Dockerfile
  qbittorrent/Dockerfile
  renovate.json
  restic_backup/Dockerfile
  syncthing/Dockerfile
Due: hadolint

Update Caddy Proxy Manager version to 2.11.2-r0-10 and simplify xcaddy build command
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
Due: hadolint, addon-linter

add cf
  cloudflare/Dockerfile
  cloudflare/config.yaml
  cloudflare/icon.png
  cloudflare/logo.png
  cloudflare/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/run
  cloudflare/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/type
  cloudflare/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/cloudflared
Due: hadolint, addon-linter

Add image field to Cloudflared configuration
  cloudflare/config.yaml
Due: addon-linter

add sendspin
  sendspin/DOCS.md
  sendspin/Dockerfile
  sendspin/build.yaml
  sendspin/config.yaml
  sendspin/rootfs/etc/s6-overlay/s6-rc.d/sendspin/run
  sendspin/rootfs/etc/s6-overlay/s6-rc.d/sendspin/type
  sendspin/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/sendspin
Due: hadolint, addon-linter

Update Jellyfin to version 10.11.7
  jellyfin/Dockerfile
  jellyfin/config.yaml
Due: hadolint, addon-linter

Update Cloudflared version to 2026.3.0 and adjust Dockerfile ARG usage
  cloudflare/Dockerfile
Due: hadolint

Add static_delay_ms option to Sendspin configuration and update version
  sendspin/DOCS.md
  sendspin/config.yaml
  sendspin/rootfs/etc/s6-overlay/s6-rc.d/sendspin/run
Due: addon-linter

add pagl stack
  .github/scripts/update-addon-version.sh
  pagl/.manual-version
  pagl/DOCS.md
  pagl/Dockerfile
  pagl/README.md
  pagl/apparmor.txt
  pagl/config.yaml
  pagl/rootfs/etc/s6-overlay/s6-rc.d/init-pagl/run
  pagl/rootfs/etc/s6-overlay/s6-rc.d/init-pagl/type
  pagl/rootfs/etc/s6-overlay/s6-rc.d/init-pagl/up
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-alertmanager/dependencies.d/init-pagl
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-alertmanager/finish
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-alertmanager/run
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-alertmanager/type
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-grafana/dependencies.d/init-pagl
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-grafana/dependencies.d/svc-prometheus
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-grafana/finish
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-grafana/run
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-grafana/type
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-loki/dependencies.d/init-pagl
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-loki/finish
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-loki/run
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-loki/type
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-prometheus/dependencies.d/init-pagl
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-prometheus/finish
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-prometheus/run
  pagl/rootfs/etc/s6-overlay/s6-rc.d/svc-prometheus/type
  pagl/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-pagl
  pagl/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-alertmanager
  pagl/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-grafana
  pagl/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-loki
  pagl/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-prometheus
  pagl/translations/en.yaml
Due: hadolint, addon-linter

Add image field to PAGL Stack configuration
  pagl/config.yaml
Due: addon-linter

Update iSponsorBlockTV Dockerfile and configuration for version 2.6.1-2
  isponsorblocktv/Dockerfile
  isponsorblocktv/config.yaml
  isponsorblocktv/rootfs/etc/s6-overlay/s6-rc.d/isponsorblocktv/run
Due: hadolint, addon-linter

Update Sendspin version to 6.0.0-2 and add alsa-utils dependency
  sendspin/Dockerfile
  sendspin/config.yaml
Due: hadolint, addon-linter

Update Sendspin version to 6.0.0-3, remove build.yaml, and adjust Dockerfile installation command
  sendspin/Dockerfile
  sendspin/build.yaml
  sendspin/config.yaml
Due: hadolint, addon-linter

karakeep
  karakeep/DOCS.md
  karakeep/Dockerfile
  karakeep/README.md
  karakeep/apparmor.txt
  karakeep/config.yaml
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-config/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-config/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-config/up
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-db-migration/dependencies.d/init-config
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-db-migration/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-db-migration/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/init-db-migration/up
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-chrome/dependencies.d/init-config
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-chrome/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-chrome/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-meilisearch/dependencies.d/init-config
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-meilisearch/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-meilisearch/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-web/dependencies.d/init-db-migration
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-web/dependencies.d/svc-chrome
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-web/dependencies.d/svc-meilisearch
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-web/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-web/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-workers/dependencies.d/init-db-migration
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-workers/dependencies.d/svc-chrome
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-workers/dependencies.d/svc-meilisearch
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-workers/run
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/svc-workers/type
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-config
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-db-migration
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-chrome
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-meilisearch
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-web
  karakeep/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/svc-workers
  karakeep/rootfs/usr/local/bin/load-env.sh
  karakeep/translations/en.yaml
Due: hadolint, addon-linter

Add .manual-version file and update Dockerfile, config, load-env, and translations for new worker settings
  karakeep/.manual-version
  karakeep/Dockerfile
  karakeep/config.yaml
  karakeep/rootfs/usr/local/bin/load-env.sh
  karakeep/translations/en.yaml
Due: hadolint, addon-linter

Update Sendspin installation command and increment version in config.yaml
  sendspin/Dockerfile
  sendspin/config.yaml
Due: hadolint, addon-linter

Add webhook authentication and health checks
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

Bump Caddy version to 2.11.2-r1
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
Due: hadolint, addon-linter

Bump version and fix Caddy webhook handling
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

Fix Caddy webhook config and split into host/port/path
  caddy_proxy/DOCS.md
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/caddy/run
Due: addon-linter

name: Karakeep version: "0.32.0-1"
  karakeep/config.yaml
Due: addon-linter

Revert to v7.2.0
  sendspin/Dockerfile
Due: hadolint

Revert to v7.2.0
  sendspin/config.yaml
Due: addon-linter

Revert version bump
  cloudflare/Dockerfile
  cloudflare/config.yaml
Due: hadolint, addon-linter

Minor bump
  cloudflare/Dockerfile
  cloudflare/config.yaml
Due: hadolint, addon-linter

Path conditions:
  hadolint: any of: Dockerfile$
  addon-linter: any of: config\.yaml$
