Repository selleronom/hassio-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, addon-linter

hadolint:
  name: Lint Dockerfiles with Hadolint (Docker)
  entry: bash -c 'for file in "$@"; do docker run --rm -i hadolint/hadolint:latest-alpine < "$file" || exit 1; done' --
  language: system
  pass_filenames: true

addon-linter:
  name: Lint Home Assistant Add-on Config
  entry: bash -c 'if command -v jq &> /dev/null; then for config in */config.yaml; do echo "Checking $config"; done; fi'
  language: system
  pass_filenames: false

Update Gitea version to 1.25.3-r1-5 and enhance initialization script for configuration options
  gitea/config.yaml
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/run
Due: addon-linter

export_and_log_keys
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: addon-linter

persist rpc key
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: addon-linter

Initialized `value=""´
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: addon-linter

layout fix
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: addon-linter

Fix Garage key persistence and simplify initialization
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: addon-linter

create_key pipe
  garage/Dockerfile
  garage/config.yaml
  garage/rootfs/etc/s6-overlay/s6-rc.d/init-garage/run
Due: hadolint, addon-linter

rm deps
  garage/Dockerfile
  garage/config.yaml
Due: hadolint, addon-linter

Install jellyfin-web only and update ffmpeg path
  jellyfin/Dockerfile
  jellyfin/config.yaml
  jellyfin/rootfs/etc/s6-overlay/s6-rc.d/jellyfin/run
Due: hadolint, addon-linter

Update config.yaml
  jellyfin/config.yaml
Due: addon-linter

⬆️ Update Caddy Proxy Manager version and enhance reverse proxy configuration
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

⬆️ Update Garage version to 2.2.0 with a temp download
  garage/Dockerfile
  garage/config.yaml
Due: hadolint, addon-linter

⬆️ Update wget version to 1.25.0-r2 in Dockerfile
  garage/Dockerfile
Due: hadolint

⬆️ Bump Garage version to 2.2.0-r0-1 in config.yaml
  garage/config.yaml
Due: addon-linter

⬆️ Update tzdata to version 2026a-r0 and bump Syncthing version to 2.0.15-r0-2
  syncthing/Dockerfile
  syncthing/config.yaml
Due: hadolint, addon-linter

⬆️ Update Caddy version to 2.11.2-r0-2 and specify dependencies in Dockerfile
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
Due: hadolint, addon-linter

⬆️ Bump Caddy version to 2.11.2-r0-3 and add resolvers to Caddyfile
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

⬆️ Update Caddy build dependencies and bump version to 2.11.2-r0-4
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
Due: hadolint, addon-linter

⬆️ Bump Caddy version to 2.11.2-r0-5 and fix dependency replacement in Dockerfile
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
Due: hadolint, addon-linter

⬆️ Update garage version to 2.2.0-r0 in Dockerfile and config.yaml
  garage/Dockerfile
  garage/config.yaml
Due: hadolint, addon-linter

⬆️ Update wget version to 1.25.0-r2 in Dockerfile and bump garage version to 2.2.0-r0-3 in config.yaml
  garage/Dockerfile
  garage/config.yaml
Due: hadolint, addon-linter

⬆️ Bump Caddy version to 2.11.2-r0-6 and add cloudflare_zone_id option in config.yaml and Caddyfile.gtpl
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

⬆️ Bump version to 2.11.2-r0-7 and remove cloudflare_zone_id from config.yaml and Caddyfile.gtpl
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

⬆️ Bump version to 2.11.2-r0-8, add resolvers to Caddyfile.gtpl, and update Dockerfile to include certmagic
  caddy_proxy/Dockerfile
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: hadolint, addon-linter

⬇️ Downgrade wget version to 1.25.0-r2 in Dockerfile
  garage/Dockerfile
Due: hadolint

add restic backup
  restic_backup/Dockerfile
  restic_backup/build.yaml
  restic_backup/config.yaml
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/init-restic/run
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/init-restic/type
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/init-restic/up
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/restic-backup/dependencies.d/init-restic
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/restic-backup/finish
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/restic-backup/run
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/restic-backup/type
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-restic
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/restic-backup
Due: hadolint, addon-linter

⬆️ Update repository URL in config and enhance repository check timeout
  restic_backup/config.yaml
  restic_backup/rootfs/etc/s6-overlay/s6-rc.d/init-restic/run
Due: addon-linter

⬆️ Bump Caddy Proxy version to 2.11.2-r0-9 and optimize reverse proxy configuration
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

add icon for restic
  restic_backup/icon.png
  restic_backup/logo.png
Due: none

⬆️ Update Immich version to 2.6.2-4 and add ffmpeg/ffprobe binaries
  immich/Dockerfile
  immich/config.yaml
Due: hadolint, addon-linter

⬆️ Update Immich version to 2.6.2-5, add finish script for svc-server to handle stale processes
  immich/Dockerfile
  immich/config.yaml
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/finish
Due: hadolint, addon-linter

⬆️ Update Immich version to 2.6.2-6, adjust service finish script to kill stale worker processes
  immich/Dockerfile
  immich/config.yaml
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/finish
Due: hadolint, addon-linter

⬆️ Update Immich version to 2.6.2-7, enhance process cleanup and port management in service scripts
  immich/Dockerfile
  immich/config.yaml
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/finish
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/run
  immich/rootfs/usr/local/bin/immich-server-wrapper.sh
Due: hadolint, addon-linter

⬆️ Update Immich version to 2.6.2-8, remove machine learning options from config and load-env script
  immich/config.yaml
  immich/rootfs/usr/local/bin/load-env.sh
Due: addon-linter

⬆️ Update Immich version to 2.6.2-9, remove finish script and streamline service cleanup
  immich/Dockerfile
  immich/config.yaml
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/finish
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/run
  immich/rootfs/usr/local/bin/immich-server-wrapper.sh
Due: hadolint, addon-linter

⬆️ Update Immich version to 2.6.2-10, add finish script for svc-server and enhance run script logging
  immich/Dockerfile
  immich/config.yaml
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/finish
  immich/rootfs/etc/s6-overlay/s6-rc.d/svc-server/run
Due: hadolint, addon-linter

2.6.3
  immich/CHANGELOG.md
  immich/DOCS.md
  immich/Dockerfile
  immich/README.md
  immich/build.yaml
  immich/config.yaml
Due: hadolint, addon-linter

⬇️ Remove default mapping for add-on private storage in Syncthing config
  syncthing/config.yaml
Due: addon-linter

Path conditions:
  hadolint: any of: Dockerfile$
  addon-linter: any of: config\.yaml$
