Repository selleronom/hassio-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, addon-linter

hadolint:
  name: Lint Dockerfiles with Hadolint (Docker)
  entry: bash -c 'for file in "$@"; do docker run --rm -i hadolint/hadolint:latest-alpine < "$file" || exit 1; done' --
  language: system
  pass_filenames: true

addon-linter:
  name: Lint Home Assistant Add-on Config
  entry: bash -c 'if command -v jq &> /dev/null; then for config in */config.yaml; do echo "Checking $config"; done; fi'
  language: system
  pass_filenames: false

Update base images to version 3.23 for multiple add-ons
  caddy-proxy/build.yaml
  garage/build.yaml
  isponsorblocktv/build.yaml
  jellyfin/build.yaml
  qbittorrent/build.yaml
  syncthing/build.yaml
Due: none

Add hadolint ignore comments to Dockerfiles for linting exceptions
  caddy-proxy/Dockerfile
  garage/Dockerfile
  isponsorblocktv/Dockerfile
  jellyfin/Dockerfile
  qbittorrent/Dockerfile
Due: hadolint

Add hadolint ignore comment for Dockerfile linting exception
  syncthing/Dockerfile
Due: hadolint

Remove unsupported architectures from add-on config files
  .github/workflows/ci.yaml
  caddy-proxy/config.yaml
  garage/config.yaml
  jellyfin/config.yaml
  qbittorrent/config.yaml
  syncthing/config.yaml
Due: addon-linter

Remove unsupported startup and boot options from Jellyfin config
  jellyfin/config.yaml
Due: addon-linter

Refactor CI workflow for improved addon detection and linting steps
  .github/workflows/ci.yaml
Due: none

Refactor CI workflow to streamline add-on detection and build process
  .github/workflows/ci.yaml
Due: none

Refactor CI workflow to remove initialization job and streamline build process
  .github/workflows/ci.yaml
Due: none

Refactor add-on configuration files to remove unsupported options and standardize version formatting
  .github/workflows/ci.yaml
  garage/config.yaml
  isponsorblocktv/config.yaml
  jellyfin/config.yaml
  qbittorrent/config.yaml
Due: addon-linter

Add Caddy Home Assistant SSL proxy add-on with initial configuration and documentation
  .github/workflows/ci.yaml
  caddy_proxy/CHANGELOG.md
  caddy_proxy/DOCS.md
  caddy_proxy/Dockerfile
  caddy_proxy/README.md
  caddy_proxy/build.yaml
  caddy_proxy/config.yaml
  caddy_proxy/icon.png
  caddy_proxy/logo.png
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/caddy/dependencies.d/base
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/caddy/finish
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/caddy/run
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/caddy/type
  caddy_proxy/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/caddy
  caddy_proxy/translations/en.yaml
  garage/config.yaml
  isponsorblocktv/config.yaml
  jellyfin/config.yaml
  qbittorrent/config.yaml
  syncthing/config.yaml
Due: hadolint, addon-linter

Refactor CI workflow for improved readability and consistency in YAML formatting
  .github/workflows/ci.yaml
Due: none

Refactor CI workflow for improved structure and enhanced debug information
  .github/workflows/ci.yaml
Due: none

Update CI build step to use --load option for improved image handling
  .github/workflows/ci.yaml
Due: none

Remove CI and publish workflows to streamline repository structure
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
Due: none

feat: Add automated addon update workflow
  .github/scripts/scan-all-packages.sh
  .github/scripts/update-addon.sh
  .github/workflows/auto-update-addons.yaml
Due: none

fix: Initialize variables to avoid unbound errors in update script
  .github/workflows/auto-update-addons.yaml
Due: none

chore: remove outdated auto-update scripts and workflows
  .github/renovate.json
  .github/scripts/scan-all-packages.sh
  .github/scripts/update-addon.sh
  .github/workflows/auto-update-addons.yaml
  .github/workflows/update-version.yaml
  caddy_proxy/Dockerfile
  garage/Dockerfile
  jellyfin/Dockerfile
  qbittorrent/Dockerfile
  syncthing/Dockerfile
Due: hadolint

fix: Correct variable naming in regex for Alpine package updates
  .github/renovate.json
Due: none

fix: Update Dockerfiles to include main_package marker for version detection
  .github/workflows/update-version.yaml
  caddy_proxy/Dockerfile
  garage/Dockerfile
  jellyfin/Dockerfile
  qbittorrent/Dockerfile
  syncthing/Dockerfile
Due: hadolint

fix: Update Caddy version in Dockerfile to 2.10.2-r2-2
  caddy_proxy/Dockerfile
Due: hadolint

feat: Add script to update add-on version based on Dockerfile changes
  .github/scripts/update-addon-version.sh
  .github/workflows/update-version.yaml
Due: none

fix: Enhance add-on version updater script to handle multiple Dockerfile changes
  .github/scripts/update-addon-version.sh
  .github/workflows/update-version.yaml
Due: none

refactor: Update Caddy proxy add-on configuration and documentation for Cloudflare support
  caddy_proxy/CHANGELOG.md
  caddy_proxy/DOCS.md
  caddy_proxy/Dockerfile
  caddy_proxy/README.md
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
  caddy_proxy/translations/en.yaml
Due: hadolint, addon-linter

feat: Add Cloudflared, Sonarr, and Radarr add-ons
  cloudflared/.dockerignore
  cloudflared/DOCS.md
  cloudflared/Dockerfile
  cloudflared/README.md
  cloudflared/build.yaml
  cloudflared/config.yaml
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/dependencies.d/base
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/run
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/type
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/cloudflared
  radarr/.dockerignore
  radarr/DOCS.md
  radarr/Dockerfile
  radarr/README.md
  radarr/build.yaml
  radarr/config.yaml
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/dependencies.d/base
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/run
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/type
  radarr/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/radarr
  sonarr/.dockerignore
  sonarr/DOCS.md
  sonarr/Dockerfile
  sonarr/README.md
  sonarr/build.yaml
  sonarr/config.yaml
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/dependencies.d/base
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/run
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/type
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/sonarr
Due: hadolint, addon-linter

fix: Address PR review feedback for add-ons
  cloudflared/Dockerfile
  cloudflared/config.yaml
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/run
  radarr/Dockerfile
  radarr/config.yaml
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/run
  sonarr/Dockerfile
  sonarr/config.yaml
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/run
Due: hadolint, addon-linter

rm testing
  cloudflared/.dockerignore
  cloudflared/DOCS.md
  cloudflared/Dockerfile
  cloudflared/README.md
  cloudflared/build.yaml
  cloudflared/config.yaml
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/dependencies.d/base
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/run
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/cloudflared/type
  cloudflared/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/cloudflared
  radarr/.dockerignore
  radarr/DOCS.md
  radarr/Dockerfile
  radarr/README.md
  radarr/build.yaml
  radarr/config.yaml
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/dependencies.d/base
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/run
  radarr/rootfs/etc/s6-overlay/s6-rc.d/radarr/type
  radarr/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/radarr
  sonarr/.dockerignore
  sonarr/DOCS.md
  sonarr/Dockerfile
  sonarr/README.md
  sonarr/build.yaml
  sonarr/config.yaml
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/dependencies.d/base
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/run
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/sonarr/type
  sonarr/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/sonarr
Due: hadolint, addon-linter

refactor: Update documentation and configuration for Caddy Proxy Manager
  caddy_proxy/DOCS.md
  caddy_proxy/README.md
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

Remove curl from Dockerfile dependencies
  garage/Dockerfile
Due: hadolint

Simplify Dockerfile by removing unused packages
  jellyfin/Dockerfile
Due: hadolint

Add ICU libraries for Jellyfin build
  jellyfin/Dockerfile
Due: hadolint

Update uv package version in Dockerfile
  isponsorblocktv/Dockerfile
Due: hadolint

Add ffmpeg installation to Jellyfin Dockerfile
  jellyfin/Dockerfile
Due: hadolint

add gitea
  gitea/Dockerfile
  gitea/build.yaml
  gitea/config.yaml
  gitea/icon.png
  gitea/logo.png
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/dependencies.d/init-gitea
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/finish
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/run
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/type
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/run
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/type
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/up
  gitea/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/gitea
  gitea/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-gitea
Due: hadolint, addon-linter

exe
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/run
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/run
Due: none

Update Gitea version and add configuration options for registration
  gitea/config.yaml
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/run
Due: addon-linter

Update Gitea version and adjust environment variable exports in run script
  gitea/config.yaml
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/run
Due: addon-linter

Update Gitea version and enhance initialization script to configure registration options
  gitea/config.yaml
  gitea/rootfs/etc/s6-overlay/s6-rc.d/gitea/run
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/run
Due: addon-linter

Update Gitea version and enhance initialization script for configuration options
  gitea/config.yaml
  gitea/rootfs/etc/s6-overlay/s6-rc.d/init-gitea/run
Due: addon-linter

Update Caddy Proxy version and enhance Caddyfile with trusted proxies support
  caddy_proxy/config.yaml
  caddy_proxy/rootfs/etc/caddy/Caddyfile.gtpl
Due: addon-linter

Update Caddy Proxy version to 2.10.2-r3-4 and add UDP port configuration
  caddy_proxy/config.yaml
Due: addon-linter

Path conditions:
  hadolint: any of: Dockerfile$
  addon-linter: any of: config\.yaml$
